{% comment %} 

  This section requires any version of Dawn theme.

{% endcomment %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  :root {
    --grid-mobile-hori-spacing-{{ section.id }}: {{ section.settings.mobile_gap }}px;
    --grid-desktop-hori-spacing-{{ section.id }}: {{ section.settings.desktop_gap }}px;
  }
  #section-{{ section.id }} .grid {
    column-gap: var(--grid-mobile-hori-spacing-{{ section.id }});
    row-gap: var(--grid-mobile-hori-spacing-{{ section.id }});
  }
  #section-{{ section.id }} .grid--1-col .grid__item {
    max-width: 100%;
    width: 100%;
  }
  #section-{{ section.id }} .grid--2-col .grid__item {
    width: calc(50% - var(--grid-mobile-hori-spacing-{{ section.id }}) / 2);
  }
  #section-{{ section.id }} .grid--3-col .grid__item {
    width: calc(33.33% - var(--grid-mobile-hori-spacing-{{ section.id }}) * 2 / 3);
  }

  @media screen and (min-width: 750px) {
    #section-{{ section.id }} .grid {
      column-gap: var(--grid-desktop-hori-spacing-{{ section.id }});
      row-gap: var(--grid-desktop-hori-spacing-{{ section.id }});
    }
    #section-{{ section.id }} .grid--4-col-tablet .grid__item {
      width: calc(25% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 3 / 4);
    }
    #section-{{ section.id }} .grid--3-col-tablet .grid__item {
      width: calc(33.33% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 2 / 3);
    }
    #section-{{ section.id }} .grid--2-col-tablet .grid__item {
      width: calc(50% - var(--grid-desktop-hori-spacing-{{ section.id }}) / 2);
    }
  }

  @media screen and (min-width: 990px) {
    #section-{{ section.id }} .grid--6-col-desktop .grid__item {
      width: calc(16.66% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 5 / 6);
      max-width: calc(16.66% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 5 / 6);
    }
    #section-{{ section.id }} .grid--5-col-desktop .grid__item {
      width: calc(20% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 4 / 5);
      max-width: calc(20% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 4 / 5);
    }
    #section-{{ section.id }} .grid--4-col-desktop .grid__item {
      width: calc(25% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 3 / 4);
      max-width: calc(25% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 3 / 4);
    }
    #section-{{ section.id }} .grid--3-col-desktop .grid__item {
      width: calc(33.33% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 2 / 3);
      max-width: calc(33.33% - var(--grid-desktop-hori-spacing-{{ section.id }}) * 2 / 3);
    }
    #section-{{ section.id }} .grid--2-col-desktop .grid__item {
      width: calc(50% - var(--grid-desktop-hori-spacing-{{ section.id }}) / 2);
      max-width: calc(50% - var(--grid-desktop-hori-spacing-{{ section.id }}) / 2);
    }
  }

  .image__inner {
    position: relative;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
  }
  .image-list__item.grid__item {
    flex-grow: 0;
  }
  a.page_url:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }
  .image__media {
    overflow: hidden;
    z-index: 0;
    border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  }
  .media {
    width: 100%;
    bottom: 0;
    position: absolute;
    top: 0;
  }
  .media img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .image-list {
      justify-content: center;
    }
  }
{%- endstyle -%}

{% liquid
  assign tablet_columns = section.settings.columns_desktop | minus: 2
  assign media_aspect_ratio = section.settings.image_ratio
%}

<div class="color-{{ section.settings.color_scheme }} gradient" id="section-{{ section.id }}">
  <div class="image-grid{% if section.settings.layout == 'grid' %} page-width{% endif %} section-{{ section.id }}-padding">
    <div
      class="image-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ tablet_columns }}-col-tablet grid--{{ section.settings.columns_mobile }}-col"
    >
      {%- for block in section.blocks -%}
        {% liquid
          assign image = block.settings.image
  
          assign ratio = 1
          if image != blank and media_aspect_ratio == 'portrait'
            assign ratio = 0.8
          elsif image and media_aspect_ratio == 'adapt'
            assign ratio = image.aspect_ratio
          elsif image and media_aspect_ratio == 'landscape'
            assign ratio = 1.5
          endif
          if ratio == 0 or ratio == null
            assign ratio = 1
          endif
  
          assign columns = section.blocks.size
          if columns > 3
            assign columns = 3
          endif
        %}
        <div class="image-list__item grid__item" {{ block.shopify_attributes }}>
          <div
            class="image__inner ratio{% if image == blank %} image-with-text__media--placeholder placeholder{% endif %}"
            style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
          >
            {% if block.settings.link != blank %}
              <a class="page_url full-unstyled-link" href="{{ block.settings.link }}">
                <span class="visually-hidden">Page URL</span>
              </a>
            {% endif %}
            <div class="image__media">
              <div class="media media--transparent">
                {%- if image != blank -%}
                  <img 
                    srcset="
                      {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if image.width >= 330 -%}{{ image | image_url: width: 330 }} 330w,{%- endif -%}
                      {%- if image.width >= 535 -%}{{ image | image_url: width: 535 }} 535w,{%- endif -%}
                      {%- if image.width >= 750 -%}{{ image | image_url: width: 750 }} 750w,{%- endif -%}
                      {%- if image.width >= 1000 -%}{{ image | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if image.width >= 1500 -%}{{ image | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {%- if image.width >= 3000 -%}{{ image | image_url: width: 3000 }} 3000w,{%- endif -%}
                      {{ image | image_url }} {{ image.width }}w
                    "
                    src="{{ image | image_url: width: 1500 }}"
                    sizes="
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                      (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                      calc(100vw - 3rem)
                    "
                    alt=""
                    height="{{ image.height }}"
                    width="{{ image.width }}"
                    loading="lazy"
                    class="motion-reduce"
                  >
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Grid",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "full_bleed",
          "label": "t:sections.slideshow.settings.layout.options__1.label"
        },
        {
          "value": "grid",
          "label": "t:sections.slideshow.settings.layout.options__2.label"
        }
      ],
      "default": "full_bleed",
      "label": "t:sections.slideshow.settings.layout.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "default": "square",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "range",
      "id": "desktop_gap",
      "min": 10,
      "max": 60,
      "step": 2,
      "default": 24,
      "label": "Desktop Gap between Images"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.collection-list.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.collection-list.settings.columns_mobile.options__2.label"
        },
        {
          "value": "3",
          "label": "3 Columns"
        }
      ],
      "default": "2",
      "label": "t:sections.collection-list.settings.columns_mobile.label"
    },
    {
      "type": "range",
      "id": "mobile_gap",
      "min": 8,
      "max": 40,
      "step": 2,
      "default": 12,
      "label": "Mobile Gap between Images"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Page link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Grid",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
